@font-face{
  font-family : 'Roboto-Bold';
  src : url('/Roboto-Bold.ttf');
}

@font-face{
  font-family: "Roboto-Regular";
  src: url('/Roboto-Regular.ttf');
}

@font-face{
  font-family: "Roboto-Thin";
  src: url('/Roboto-Thin.ttf');
}

@font-face{
  font-family: "Roboto-Italic";
  src: url('/Roboto-Italic.ttf');
}

@font-face{
  font-family: "Helvetica-Neue";
  src: url('/Helvetica-Neue.otf');
}

@font-face{
  font-family: "Raleway-Regular";
  src: url('/Raleway-Regular.ttf');
}

@font-face{
  font-family: "Raleway-Bold";
  src: url('/Raleway-Bold.ttf');
}

.CV {
	width : calc(100% - 150px);
	min-width: 729px;
	max-width : 1000px;
	height: 1500px;
	position: absolute;
	margin : 0 auto;
	left : 0;
	right : 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	font-family: 'Roboto-Bold';
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { /* Iphone 5*/
		transform: scale(0.4);
		transform-origin: 0 0;
	}
	@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { /*Iphone 6 Plus*/
		transform: scale(0.9);
		transform-origin: 0 0;
	}
	@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { /* Iphone 6*/
		transform: scale(0.8);
		transform-origin: 0 0;
	}
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { /* Iphone 5*/
		transform: scale(0.7);
		transform-origin: 0 0;
	}
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) { /* Iphone 4*/
		transform: scale(0.6);
		transform-origin: 0 0;
	}
	@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { /* Iphone 6*/
		transform: scale(0.46);
		transform-origin: 0 0;
	}
	@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { /*Iphone 6 Plus*/
		transform: scale(0.5);
		transform-origin: 0 0;
	}
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
		transform: scale(0.73);
		transform-origin: 0 0;
	}
	.left.band {
		width : 34.5%;
		height: 100%;
		background: -webkit-linear-gradient(left, #3DA8E0, #1E94D2); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right,#3DA8E0, #1E94D2); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right,#3DA8E0, #1E94D2); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #3DA8E0, #1E94D2); /* Standard syntax */
		position: absolute;
		left : 0;
		box-shadow: 2px 0px #C4C4C4;
		z-index: 1;
		font-family: 'Roboto-Regular';
		color: #F7F7F7;
		.item.last{
			border-bottom : 0;
			.picto{
				background-image : url('/ninja.png');
				background-size : 100%;
				background-repeat : no-repeat;
			}
		}
		.slider{
			width: calc(100% - 40px);
			height: 45px;
			float: right;
			position : relative;
			margin-top : 4px;
			padding-right : 20px;
			box-sizing : border-box;
			.title{
				position : absolute;
				font-size: 15px;
			}
			.picto{
				float: left;
				width: 39px;
				height: 39px;
			}
			.bar-container{
				position: absolute;
				width : calc(100% - 20px);
				.bar,.background-bar{
					height: 2px;
				  position: absolute;
				  top: 30px;
				  border-radius : 2px;
				}
				.background-bar{
					width: 100%;
					background-color : #1783c5;
				}
				.bar{
					//width: 50%;
					background-color : #FFFFFF;
					z-index : 2;
				}
				.cursor{
					background-color: #FFFFFF;
				  border-radius: 50%;
				  width: 10px;
				  height: 10px;
				  position: absolute;
				  top: 25px;
				  //left : 50%;
				}
			}
		}
		.preview {							
			width: 100%;
			padding-bottom : 100%;
			float: right;
			font-family: 'Roboto-Bold';
			position : relative;
			.photo{
				background-image : url('/me.jpg');
				background-size: 100%;
				background-repeat: no-repeat;
				position : absolute;
				top : 0;
				bottom : 0;
				left : 0;
				right: 0;
			}
			.title{
				font-size: 23px;
				position : absolute;
				left: 20%;
				bottom : 27px;
			}
			.comment {
				font-size: 17px;
				position : absolute;
				left: 20%;
				bottom : 10px;
			}
		}
		.item{
			float: right;
			width: calc(100% - 40px);
			padding: 40px 40px 40px 0px;
			border-bottom: 1px solid #0192D1;
			box-sizing: border-box;
			position: relative;
			.picto {
			  background-image: url("man.png");
			  background-repeat: no-repeat;
			  background-position: center;
			  background-size: contain;
			  width: 20px;
			  height: 20px;
			  margin-right: 40px;
			  float: right;
			  position: absolute;
			  left: -25px;
			}
			.content {
				width: 100%;
				float: right;
				/* border-bottom: 1px solid #0192D1; */
				padding-left: 10px;
				box-sizing: border-box;
				.text{
					width: 100%;
					font-size: 13px;
				}
				.title{
					width: 100%;
				}
			}
		}
	}
	.workspace {
		width: 65.5%;
		height: 100%;
		background-color: #D8D8D7;
		position: absolute;
		right : 0;
		.work{
			.picto{
				background-image: url("suitcase.png");
			}
		}
		.studies{
			.picto{
				background-image: url("student.png");
			}
		}
		.interests{
			.picto{
				background-image: url("bike.png");
			}
		}
		.item.section {
			background: -webkit-linear-gradient(left, #F8FAFA , #ffffff);
			background: -o-linear-gradient(right, #F8FAFA, #ffffff);
			background: -moz-linear-gradient(right, #F8FAFA, #ffffff);
			background: linear-gradient(to right, #F8FAFA , #ffffff);
			box-shadow : 1px 1px 1px rgba(0, 0, 0, 0.15);
			margin : 30px 30px 0px 30px;
			float: left;
			box-sizing : border-box;
			width: calc(100% - 60px);
			padding-top: 40px;
			position: relative;
			.picto  {
				width: 43px;
				height: 43px;
				position: absolute;
				left: 15px;
				top: 30px;
				background-size: contain;
				background-repeat : no-repeat;
			}
			.content {
				width: calc(100% - 70px);
				float: right;
				.title {
					color: #717171;
					font-weight: bold;
					font-size: 23px;
				}
				.button.interest {
				  float: left;
				  width: 50px;
				  height: 50px;
				  margin-right: calc((100% - 70px - 4*50px)/3);
				  margin-bottom: 7px;
				  margin-top: 25px;
				  background-size: contain;
				  background-repeat: no-repeat;
				}
				.button.interest.games{
					background-image : url("gamepad.png");
				}
				.button.interest.science{
					background-image : url("testtube.png");
				}
				.button.interest.philosophy{
					background-image : url("aristotle.png");
				}
				.button.interest.news{
					background-image : url("news.png");
					margin-right: 0;
				}
				.item.sous-section.last{
					border-bottom : 0;
				}
				.item.sous-section{
					float : right;
					width : 100%;
					padding : 30px 0;
					border-bottom : 1px solid #D8D8D7;
					.top-title {
						width: 100%;
						float: left;
						font-weight: initial;
						font-size: 16px;
						color: #444444;
						font-family: 'Roboto-Bold';
						-webkit-font-smoothing : antialiased;
						font-smoothing : antialiased;
						-moz-font-smoothing : antialiased;
						font-weight: lighter;
						color: #636365;
					}
					.content {
						width: 100%;
						.text {
							float: left;
							font-size: 15px;
							width: 100%;
							font-family: 'Roboto-Regular';
							-webkit-font-smoothing : antialiased;
							font-smoothing : antialiased;
							-moz-font-smoothing : antialiased;
							font-weight: lighter;
							color: #737474;
							padding-right: 25px;
							box-sizing: border-box;
							text-align: justify;
						}
						.title {
							color: #39A0D7;
							font-size: 15px;
							font-family: 'Roboto-Regular';
							-webkit-font-smoothing : antialiased;
							font-smoothing : antialiased;
							-moz-font-smoothing : antialiased;
							font-weight: lighter;
							margin-top: 10px;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
}