@font-face {
  font-family: 'Roboto-Bold';
  src: url("/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Roboto-Regular";
  src: url("/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto-Thin";
  src: url("/Roboto-Thin.ttf"); }
@font-face {
  font-family: "Roboto-Italic";
  src: url("/Roboto-Italic.ttf"); }
@font-face {
  font-family: "Helvetica-Neue";
  src: url("/Helvetica-Neue.otf"); }
@font-face {
  font-family: "Raleway-Regular";
  src: url("/Raleway-Regular.ttf"); }
@font-face {
  font-family: "Raleway-Bold";
  src: url("/Raleway-Bold.ttf"); }
/* surlayers z-indexes are at 5 (number_of_layers*5)*/
/*pop-in z-indexes are at 6 (number_of_layer*5 + 1)*/
/*gates z-indexes are at 2 (number_of_layer*5 + 1)*/
/* please add mixins for the media queries, and never ever again copy paste */
/*TODO	  Recette responsive*/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #25262b; }
  html body.gate-background {
    height: 100%; }
    html body.gate-background .button.go {
      width: 50px;
      height: 50px;
      bottom: 30px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      border-radius: 50% 50%;
      border: 2px solid #bababa;
      text-align: center;
      line-height: 50px;
      font-size: 29px;
      font-family: 'Roboto-Bold';
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 2; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        html body.gate-background .button.go {
          /* Iphone 4*/
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 25px; } }
      @media only screen and (max-height: 460px) {
        html body.gate-background .button.go {
          display: none; } }
      @media only screen and (min-device-width: 600px) and (max-device-width: 736px) and (orientation: landscape) {
        html body.gate-background .button.go {
          top: 550px;
          bottom: initial; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        html body.gate-background .button.go {
          top: 550px;
          bottom: initial; } }
      @media only screen and (min-device-width: 400px) and (max-device-width: 736px) and (orientation: landscape) {
        html body.gate-background .button.go {
          /* Iphone 5*/
          top: 480px;
          bottom: initial; } }
      @media only screen and (min-device-width: 300px) and (max-device-width: 500px) and (orientation: landscape) {
        html body.gate-background .button.go {
          top: 445px;
          bottom: initial; } }
    @media only screen and (max-device-width: 736px) and (orientation: landscape) {
      html body.gate-background {
        height: 160%;
        position: relative; } }
    @media only screen and (max-device-width: 736px) and (orientation: portrait) {
      html body.gate-background {
        height: 100%;
        position: relative; } }
  html body {
    margin: 0; }
    html body .gate {
      z-index: 2;
      margin: 0;
      font-family: 'Raleway-Regular';
      width: 100%;
      height: 100%;
      color: #bababa;
      background-color: #25262b;
      position: absolute; }
      html body .gate .links {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 100px;
        width: 250px;
        margin-top: 15px; }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
          html body .gate .links {
            /*top: 380px;*/
            font-size: 13px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
          html body .gate .links {
            /*top: 380px;*/
            font-size: 13px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          html body .gate .links {
            /*top: 338px;*/
            font-size: 10px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
          html body .gate .links {
            /*top: 350px;*/
            font-size: 10px; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
          html body .gate .links {
            /*top: 420px;*/
            font-size: 13px; } }
        html body .gate .links .follow {
          text-align: center;
          margin-bottom: 10px;
          position: absolute;
          width: 100%; }
        html body .gate .links .wrap {
          position: absolute;
          top: 30px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 190px; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            html body .gate .links .wrap {
              top: 19px;
              width: 130px; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
            html body .gate .links .wrap {
              width: 154px; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
            html body .gate .links .wrap {
              width: 121px; } }
          @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
            html body .gate .links .wrap {
              width: 154px; } }
          html body .gate .links .wrap a.link {
            float: left;
            font-family: "Raleway-Bold";
            color: #428bca;
            text-decoration: none; }
          html body .gate .links .wrap a.link.left {
            margin-right: 10px; }
      html body .gate .preview {
        margin: 0 auto;
        top: 40px;
        left: 0;
        right: 0;
        max-width: 250px;
        min-height: 240px;
        text-align: center;
        position: relative; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          html body .gate .preview {
            /* Iphone 4*/
            max-width: 150px; } }
        @media only screen and (min-device-width: 500px) {
          html body .gate .preview {
            min-height: 300px; } }
        html body .gate .preview .photo {
          background-image: url("/me.jpg");
          background-size: 100%;
          background-repeat: no-repeat;
          position: relative;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 200px;
          height: 200px;
          border-radius: 50% 50%;
          border: 3px solid #CCC;
          margin-bottom: 15px; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
            html body .gate .preview .photo {
              /* Iphone 4*/
              width: 150px;
              height: 150px; } }
        html body .gate .preview .title {
          font-size: 30px;
          float: left;
          width: 100%; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            html body .gate .preview .title {
              /* Iphone 4*/
              font-size: 19px; } }
        html body .gate .preview .comment {
          font-size: 15px;
          float: left;
          width: 100%; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            html body .gate .preview .comment {
              /* Iphone 4*/
              font-size: 13px; } }
      html body .gate .text {
        text-align: center;
        position: relative;
        min-width: 200px;
        width: 65%;
        max-width: 750px;
        margin: 0 auto;
        left: 0;
        right: 0;
        box-sizing: border-box;
        margin-top: 20px; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: portrait) {
          html body .gate .text {
            width: 80%; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
          html body .gate .text {
            font-size: 13px;
            width: 80%; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          html body .gate .text {
            font-size: 10px; } }
        @media only screen and (min-device-width: 650px) {
          html body .gate .text {
            margin-top: 40px; } }
    html body .app {
      background-image: url("/texture.png");
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #25262b; }
      html body .app .popin {
        font-size: 15px;
        width: 500px;
        background-color: #FFFFFF;
        position: fixed;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 6;
        display: inline-block;
        vertical-align: middle;
        top: 50%;
        transform: translate(0px, -50%);
        -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
        -moz-transform: translate(0px, -50%);
        -o-transform: translate(0px, -50%);
        /*add a mixin here to get a cleaner code*/ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: portrait) {
          html body .app .popin {
            width: 100%;
            height: 480px;
            font-size: 11px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
          html body .app .popin {
            height: 400px;
            /*padding-bottom : 20px;*/ } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: landscape) {
          html body .app .popin {
            background-image: url(/rotate.png);
            /* shows image */
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 100%;
            /* be sure to set height & width */
            width: 400px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: landscape) {
          html body .app .popin .item.pop-in {
            display: none; } }
        html body .app .popin .item.pop-in.left {
          float: left; }
          html body .app .popin .item.pop-in.left .picto {
            float: left;
            margin-left: 15px; }
          html body .app .popin .item.pop-in.left .content {
            width: calc(100% - 87px);
            position: absolute;
            right: 0;
            text-align: right;
            padding-left: 15px;
            box-sizing: border-box; }
            html body .app .popin .item.pop-in.left .content .title {
              padding-right: 15px; }
        html body .app .popin .item.pop-in.right {
          float: right; }
          html body .app .popin .item.pop-in.right .picto {
            float: right;
            margin-right: 15px; }
          html body .app .popin .item.pop-in.right .content {
            width: calc(100% - 87px);
            position: absolute;
            left: 0;
            padding-left: 15px;
            box-sizing: border-box; }
        html body .app .popin .item.pop-in {
          width: 80%;
          padding: 30px 0;
          border-bottom: 1px solid #D8D8D7;
          height: 100px; }
          html body .app .popin .item.pop-in .picto {
            width: 70px;
            height: 70px;
            /*border : 1px solid #000000;*/
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat; }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
              html body .app .popin .item.pop-in .picto {
                width: 40px;
                height: 40px; } }
          html body .app .popin .item.pop-in .top-title {
            width: 100%;
            float: left;
            font-weight: initial;
            font-size: 16px;
            color: #444444;
            font-family: 'Roboto-Regular';
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            font-weight: lighter;
            color: #636365; }
          html body .app .popin .item.pop-in .content {
            width: 100%; }
            html body .app .popin .item.pop-in .content .text {
              float: left;
              width: 100%;
              font-family: 'Roboto-Regular';
              -webkit-font-smoothing: antialiased;
              font-smoothing: antialiased;
              -moz-font-smoothing: antialiased;
              font-weight: lighter;
              color: #737474;
              padding-right: 25px;
              box-sizing: border-box;
              text-align: justify; }
            html body .app .popin .item.pop-in .content .title {
              color: #717171;
              font-size: 15px;
              font-family: 'Roboto-Italic';
              -webkit-font-smoothing: antialiased;
              font-smoothing: antialiased;
              -moz-font-smoothing: antialiased;
              font-weight: bold;
              margin-top: 10px;
              margin-bottom: 15px; }
              @media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: portrait) {
                html body .app .popin .item.pop-in .content .title {
                  font-size: 12px; } }
        html body .app .popin .item.pop-in.last {
          border: 0; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
          html body .app .popin .item.pop-in.games {
            height: 100px;
            padding: 13px 0; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
          html body .app .popin .item.pop-in.phil {
            height: 100px;
            padding: 18px 0; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
          html body .app .popin .item.pop-in.news, html body .app .popin .item.pop-in.science {
            height: 100px;
            padding: 21px 0; } }
      html body .app .surlayer {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 5;
        top: 0; }
      html body .app .band.lefter {
        width: 200px;
        height: calc(100% - 0px);
        float: left;
        padding-top: 25px;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
          html body .app .band.lefter {
            /* Iphone 5*/
            width: 100%;
            height: 100px;
            position: absolute;
            float: none;
            bottom: 0px;
            padding-top: 0;
            padding-bottom: 10px;
            padding-right: 30px;
            padding-left: 30px;
            box-sizing: border-box; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          html body .app .band.lefter {
            /* Iphone 6*/
            width: 100%;
            height: 60px;
            position: absolute;
            float: none;
            bottom: 0px;
            padding-top: 0;
            padding-bottom: 10px;
            padding-right: 30px;
            padding-left: 30px;
            box-sizing: border-box; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
          html body .app .band.lefter {
            /*Iphone 6 plus*/
            width: 100%;
            height: 70px;
            position: absolute;
            float: none;
            bottom: 0px;
            padding-top: 0;
            padding-bottom: 10px;
            padding-right: 30px;
            padding-left: 30px;
            box-sizing: border-box; } }
        html body .app .band.lefter .item.title {
          padding: 15px 0;
          font-size: 11px;
          text-align: center;
          color: #777;
          border-top: 1px solid rgba(255, 255, 255, 0.12);
          border-bottom: 1px solid rgba(255, 255, 255, 0.12);
          font-family: 'Helvetica-Neue';
          box-sizing: border-box; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
            html body .app .band.lefter .item.title {
              /* Iphone 5*/
              height: 100%; } }
          @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
            html body .app .band.lefter .item.title {
              /* Iphone 6*/
              height: 100%;
              padding: 5px 0; } }
          @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
            html body .app .band.lefter .item.title {
              /*Iphone 6 Plus*/
              height: 100%;
              padding: 5px 0; } }
          html body .app .band.lefter .item.title .title {
            color: #FFFFFF;
            text-align: center;
            opacity: 1;
            color: #bbb;
            font-size: 15px;
            padding-bottom: 10px; }
            @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape), screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
              html body .app .band.lefter .item.title .title {
                margin-bottom: 3px;
                position: relative;
                top: 5px; } }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
              html body .app .band.lefter .item.title .title {
                /*Iphone 4*/
                font-size: 12px; } }
        html body .app .band.lefter .text {
          font-size: 13px; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
            html body .app .band.lefter .text {
              /*Iphone 4*/
              font-size: 9px; } }
      html body .app .scene {
        width: calc(100% - 200px);
        height: calc(100% - 25px);
        float: left;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        top: 25px; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
          html body .app .scene {
            /* Iphone 5*/
            width: 100%;
            height: calc(100% - 15% - 60px);
            position: absolute;
            float: none;
            top: 15px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
          html body .app .scene {
            width: 100%;
            height: calc(100% - 15% - 50px);
            position: absolute;
            float: none;
            top: 20px; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          html body .app .scene {
            width: 100%;
            height: calc(100% - 15% - 50px);
            position: absolute;
            float: none;
            top: 20px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
          html body .app .scene {
            /* Iphone 6*/
            width: 100%;
            height: calc(100% - 50px - 40px);
            position: absolute;
            float: none; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
          html body .app .scene {
            /*Iphone 6 Plus*/
            top: 15px; } }
        html body .app .scene .app-slider {
          position: absolute;
          right: 15px;
          width: 10px;
          height: 95%;
          margin: auto 0;
          top: 0;
          bottom: 0;
          border-radius: 10px;
          border: 1px solid #bbb; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
            html body .app .scene .app-slider {
              display: none; } }
          html body .app .scene .app-slider .bar-container {
            position: absolute;
            width: 100%;
            height: 100%; }
            html body .app .scene .app-slider .bar-container .bar, html body .app .scene .app-slider .bar-container .background-bar {
              height: 100%;
              position: absolute; }
            html body .app .scene .app-slider .bar-container .cursor {
              background-color: #bbb;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              position: absolute; }
        html body .app .scene .CV {
          width: calc(100% - 150px);
          min-width: 729px;
          max-width: 1400px;
          height: 1500px;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
          font-family: 'Roboto-Bold'; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
            html body .app .scene .CV {
              /* Iphone 5*/
              transform: scale(0.4);
              transform-origin: 0 0; } }
          @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
            html body .app .scene .CV {
              /*Iphone 6 Plus*/
              transform: scale(0.9);
              transform-origin: 0 0; } }
          @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
            html body .app .scene .CV {
              /* Iphone 6*/
              transform: scale(0.8);
              transform-origin: 0 0; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
            html body .app .scene .CV {
              /* Iphone 5*/
              transform: scale(0.7);
              transform-origin: 0 0; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
            html body .app .scene .CV {
              /* Iphone 4*/
              transform: scale(0.6);
              transform-origin: 0 0; } }
          @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
            html body .app .scene .CV {
              /* Iphone 6*/
              transform: scale(0.46);
              transform-origin: 0 0; } }
          @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
            html body .app .scene .CV {
              /*Iphone 6 Plus*/
              transform: scale(0.5);
              transform-origin: 0 0; } }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            html body .app .scene .CV {
              transform: scale(0.73);
              transform-origin: 0 0; } }
          html body .app .scene .CV .left.band {
            width: 34.5%;
            height: 100%;
            background: -webkit-linear-gradient(left, #3DA8E0, #1E94D2);
            /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #3DA8E0, #1E94D2);
            /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #3DA8E0, #1E94D2);
            /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #3DA8E0, #1E94D2);
            /* Standard syntax */
            position: absolute;
            left: 0;
            box-shadow: 2px 0px #C4C4C4;
            z-index: 1;
            font-family: 'Roboto-Regular';
            color: #F7F7F7; }
            html body .app .scene .CV .left.band .item.last {
              border-bottom: 0; }
              html body .app .scene .CV .left.band .item.last .picto {
                background-image: url("/ninja.png");
                background-size: 100%;
                background-repeat: no-repeat; }
            html body .app .scene .CV .left.band .slider {
              width: calc(100% - 40px);
              height: 45px;
              float: right;
              position: relative;
              margin-top: 4px;
              padding-right: 20px;
              box-sizing: border-box; }
              html body .app .scene .CV .left.band .slider .title {
                position: absolute;
                font-size: 15px; }
              html body .app .scene .CV .left.band .slider .picto {
                float: left;
                width: 39px;
                height: 39px; }
              html body .app .scene .CV .left.band .slider .bar-container {
                position: absolute;
                width: calc(100% - 20px); }
                html body .app .scene .CV .left.band .slider .bar-container .bar, html body .app .scene .CV .left.band .slider .bar-container .background-bar {
                  height: 2px;
                  position: absolute;
                  top: 30px;
                  border-radius: 2px; }
                html body .app .scene .CV .left.band .slider .bar-container .background-bar {
                  width: 100%;
                  background-color: #1783c5; }
                html body .app .scene .CV .left.band .slider .bar-container .bar {
                  background-color: #FFFFFF;
                  z-index: 2; }
                html body .app .scene .CV .left.band .slider .bar-container .cursor {
                  background-color: #FFFFFF;
                  border-radius: 50%;
                  width: 10px;
                  height: 10px;
                  position: absolute;
                  top: 25px; }
            html body .app .scene .CV .left.band .preview {
              width: 100%;
              padding-bottom: 100%;
              float: right;
              font-family: 'Roboto-Bold';
              position: relative; }
              html body .app .scene .CV .left.band .preview .photo {
                background-image: url("/me.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0; }
              html body .app .scene .CV .left.band .preview .title {
                font-size: 23px;
                position: absolute;
                left: 20%;
                bottom: 27px; }
              html body .app .scene .CV .left.band .preview .comment {
                font-size: 17px;
                position: absolute;
                left: 20%;
                bottom: 10px; }
            html body .app .scene .CV .left.band .item {
              float: right;
              width: calc(100% - 40px);
              padding: 40px 40px 40px 0px;
              border-bottom: 1px solid #0192D1;
              box-sizing: border-box;
              position: relative; }
              html body .app .scene .CV .left.band .item .picto {
                background-image: url("man.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 20px;
                height: 20px;
                margin-right: 40px;
                float: right;
                position: absolute;
                left: -25px; }
              html body .app .scene .CV .left.band .item .content {
                width: 100%;
                float: right;
                /* border-bottom: 1px solid #0192D1; */
                padding-left: 10px;
                box-sizing: border-box; }
                html body .app .scene .CV .left.band .item .content .text {
                  width: 100%;
                  font-size: 13px; }
                html body .app .scene .CV .left.band .item .content .title {
                  width: 100%; }
          html body .app .scene .CV .workspace {
            width: 65.5%;
            height: 100%;
            background-color: #D8D8D7;
            position: absolute;
            right: 0; }
            html body .app .scene .CV .workspace .work .picto {
              background-image: url("suitcase.png"); }
            html body .app .scene .CV .workspace .studies .picto {
              background-image: url("student.png"); }
            html body .app .scene .CV .workspace .interests .picto {
              background-image: url("bike.png"); }
            html body .app .scene .CV .workspace .item.section {
              background: -webkit-linear-gradient(left, #F8FAFA, #ffffff);
              background: -o-linear-gradient(right, #F8FAFA, #ffffff);
              background: -moz-linear-gradient(right, #F8FAFA, #ffffff);
              background: linear-gradient(to right, #F8FAFA, #ffffff);
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
              margin: 30px 30px 0px 30px;
              float: left;
              box-sizing: border-box;
              width: calc(100% - 60px);
              padding-top: 40px;
              position: relative; }
              html body .app .scene .CV .workspace .item.section .picto {
                width: 43px;
                height: 43px;
                position: absolute;
                left: 15px;
                top: 30px;
                background-size: contain;
                background-repeat: no-repeat; }
              html body .app .scene .CV .workspace .item.section .content {
                width: calc(100% - 70px);
                float: right; }
                html body .app .scene .CV .workspace .item.section .content .title {
                  color: #717171;
                  font-weight: bold;
                  font-size: 23px; }
                html body .app .scene .CV .workspace .item.section .content .button.interest {
                  float: left;
                  width: 50px;
                  height: 50px;
                  margin-right: calc((100% - 70px - 4*50px)/3);
                  margin-bottom: 7px;
                  margin-top: 25px;
                  background-size: contain;
                  background-repeat: no-repeat; }
                html body .app .scene .CV .workspace .item.section .content .button.interest.games {
                  background-image: url("gamepad.png"); }
                html body .app .scene .CV .workspace .item.section .content .button.interest.science {
                  background-image: url("testtube.png"); }
                html body .app .scene .CV .workspace .item.section .content .button.interest.philosophy {
                  background-image: url("aristotle.png"); }
                html body .app .scene .CV .workspace .item.section .content .button.interest.news {
                  background-image: url("news.png");
                  margin-right: 0; }
                html body .app .scene .CV .workspace .item.section .content .item.sous-section.last {
                  border-bottom: 0; }
                html body .app .scene .CV .workspace .item.section .content .item.sous-section {
                  float: right;
                  width: 100%;
                  padding: 30px 0;
                  border-bottom: 1px solid #D8D8D7; }
                  html body .app .scene .CV .workspace .item.section .content .item.sous-section .top-title {
                    width: 100%;
                    float: left;
                    font-weight: initial;
                    font-size: 16px;
                    color: #444444;
                    font-family: 'Roboto-Bold';
                    -webkit-font-smoothing: antialiased;
                    font-smoothing: antialiased;
                    -moz-font-smoothing: antialiased;
                    font-weight: lighter;
                    color: #636365; }
                  html body .app .scene .CV .workspace .item.section .content .item.sous-section .content {
                    width: 100%; }
                    html body .app .scene .CV .workspace .item.section .content .item.sous-section .content .text {
                      float: left;
                      font-size: 15px;
                      width: 100%;
                      font-family: 'Roboto-Regular';
                      -webkit-font-smoothing: antialiased;
                      font-smoothing: antialiased;
                      -moz-font-smoothing: antialiased;
                      font-weight: lighter;
                      color: #737474;
                      padding-right: 25px;
                      box-sizing: border-box;
                      text-align: justify; }
                    html body .app .scene .CV .workspace .item.section .content .item.sous-section .content .title {
                      color: #39A0D7;
                      font-size: 15px;
                      font-family: 'Roboto-Regular';
                      -webkit-font-smoothing: antialiased;
                      font-smoothing: antialiased;
                      -moz-font-smoothing: antialiased;
                      font-weight: lighter;
                      margin-top: 10px;
                      margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
